<div class = "results-block">
    <%= bootstrap_flash %>
</div>
<% if @results%>
<div class="well results-block">
  </br><strong>username: </strong><%= @results.username %>
  </br><strong>email: </strong><%= @results.email %>
  </br><strong>profile: </strong><%= link_to "profile", user_path(@results) %>
</div>
<%end%>