
<li class="list-group-item">
	<%= gravatar_for user, size: 50 %>
	<p><%= link_to user.username, user_path(user) ,  class: "btn btn-primary"%></p>
	<% if current_user.admin? && !current_user?(user) %>
     <%= link_to "delete", user_path(user), class: "btn btn-primary", method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  </li>
