<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.username %></h1>
<%= link_to "view my profile", user_path(current_user), class:"btn btn-primary btn-sm"%>
<%= pluralize(current_user.posts.count, "post") %>